*{
    padding: 0;
    margin: 0;
}

.card {
 
    width: 20%;
    height: 100%;
    padding: 3%;
    margin: 3%;

    margin-right: 5%;
    border-radius: 7px 7px 7px 7px;
    background-color: white;
}  
.card img{
    padding-bottom: 5%;
    margin-top: -5%;
    width: 300px;

}
.cards{
    display: flex;

    
}




